<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details page</title>
    <link rel="stylesheet" href="users/detailsPage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    
</head>
<body>
  <nav class="navBar">
    <h2 class="brandHeading"><span>Lanka</span>Stay</h2>
    <ul class="nav-list">
      <li><a href="/">Home</a></li>
      <li><a href="/">Hotels</a></li>
      <li><a href="/">Rooms</a></li>
      <li><a href="/">About</a></li>
      <li><a href="/">Contact</a></li>
      <li class="logoutButton"><a href="/logout"></a></li>
    </ul>
  </nav>
   <div class="subnav"><a href="">Home</a></div>
   <div class="branding">
    <!-- <div class="hotelName">Helo </div>
    <div class="place">abudhabi,uae</div> -->
   </div>
   <div class="image_container">
    <div class="image_1"></div>
    <div class="image"></div>
    <div class="image"></div>
   

   </div>
   <div class="details">
    <div class="about">
      <div class="title">About the place</div>
      <div class="text"></div>
    </div>
    <div class="bookingSheet"></div>
   </div>
   <div class="features">
    <!-- <div class="child">
      
    </div> -->
    
   </div>
   <div class="heading">Treasure to Choose</div>
   <div class="treasures">
    <div class="treasure_container">
     <div class="tr"></div>
     <div class="tr"></div>
     <div class="tr"></div>
     <div class="tr"></div>
    </div>
   </div>
   <div class="testimonials-container">
      <!-- <div class="review-box">
        src
        start
        text
      </div> -->
   </div>
  <script src="js/detailsPage.js"></script>
</body>
</html>