<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ownerDashboard</title>
    <link rel="stylesheet" href="/hotelOwners/dashboard.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
        <div class="top_bar">
            <div class="logo"><span>Lanka</span>Stay</div>
           <div class="search_area">
            <i class="fa-solid fa-magnifying-glass" style="color: #a4aaad;"></i>
            <input  type="text" placeholder="Search for rooms and offers">
           </div>
           
            <div class="notPro">
                <a class="registerHotel" href="registerHotel">Register Hotel</a>
                <i class="fa-regular fa-bell fa-lg" style="color: #d4d8dd;"></i>
                <img src="/images/profile.jpg" alt="" class="profile" >
                
            </div>
            
            
        </div>
        <div class="top_down">
            
            <ul>
                <i class="fa-solid fa-house symbol" style="color: #9fa4ad;"></i>
                <li><a href="">Dashboard</a></li>
            </ul>
            <div class="date">Friday ,10 November 2023</div>
            
            <button type="button" class="createBooking">Create Booking</button>
           
        </div>
        <section class="centralDiv">
            <div class="overviewRow">
             <h3 class="title">overview</h3>
             <div class="down">
                <div class="group">
                    <p class="top">Today's</p>
                    <div class="bottom">
                     <p>Check in</p>
                     <div class="count">60</div>
                    </div>
                    .
                  </div>
                  <div class="group">
                     <p class="top">Today's</p>
                    <div class="bottom">
                     <p>Check out</p>
                     <div class="count">60</div>
                    </div>
                  </div>
                  <div class="group">
                     <p class="top">Total</p>
                    <div class="bottom">
                     <p>In hotel</p>
                     <div class="count">60</div>
                    </div>
                  </div>
                  <div class="group">
                     <p class="top">Total</p>
                    <div class="bottom">
                     <p>Available room</p>
                     <div class="count">60</div>
                    </div>
                  </div>
                  <div class="group">
                     <p class="top">Total</p>
                    <div class="bottom">
                     <p>Occuppied room</p>
                     <div class="count">60</div>
                    </div>
                  </div>
             </div>
            </div>
            <div class="roomsRow">
             <div class="title">Rooms</div>
              <div class="down">
                <div class="rgroup">
                  <div class="top">
                    <small class="dealTag">2 deals</small>
                    <i class=" threedot fa-solid fa-ellipsis-vertical" style="color: #ced2da;"></i>
                  </div>
                  <div class="rdown">
                    <small>single sharing</small>
                     <p><span class="availability">2</span>/30</p>
                     <p><span class="price">$568</span>/day</p>
                  </div>
                </div>
                <div class="rgroup">
                    <div class="top">
                        <small class="dealTag">2 deals</small>
                        <i class=" threedot fa-solid fa-ellipsis-vertical" style="color: #ced2da;"></i>
                      </div>
                      <div class="rdown">
                        <small>Double sharing</small>
                         <p><span class="availability">2</span>/30</p>
                         <p><span class="price">$568</span>/day</p>
                      </div>
                </div>
                <div class="rgroup">
                    <div class="top">
                        <small class="dealTag">2 deals</small>
                        <i class=" threedot fa-solid fa-ellipsis-vertical" style="color: #ced2da;"></i>
                      </div>
                      <div class="rdown">
                        <small>Triple sharing</small>
                         <p><span class="availability">2</span>/30</p>
                         <p><span class="price">$568</span>/day</p>
                      </div>
                </div>
                <div class="rgroup">
                    <div class="top">
                        <small class="dealTag">2 deals</small>
                        <i class=" threedot fa-solid fa-ellipsis-vertical" style="color: #ced2da;"></i>
                      </div>
                      <div class="rdown">
                        <small>VIP suit</small>
                         <p><span class="availability">2</span>/30</p>
                        <p><span class="price">$568</span>/day</p>
                      </div>
                </div>
              </div>
            </div>
            <div class="statusRow">
             <div class="roomArea">
               <div class="title">Room status</div>
               <div class="sdown">
                <div class="left">
                    <div class="row">
                        <p>Occupied Rooms</p>
                    <small>104</small>
                    </div>
                    <div class="row">
                        <p>Clean</p>
                    <small>90</small>
                    </div>
                    <div class="row">
                        <p>Occupied Rooms</p>
                    <small>104</small>
                    </div>
                    <div class="row">
                        <p>Occupied Rooms</p>
                    <small>104</small>
                    </div>
                </div>
                <div class="right">
                    <div class="row">
                        <p>Occupied Rooms</p>
                    <small>104</small>
                    </div>
                    <div class="row">
                        <p>Clean</p>
                    <small>90</small>
                    </div>
                    <div class="row">
                        <p>Occupied Rooms</p>
                    <small>104</small>
                    </div>
                    <div class="row">
                        <p>Occupied Rooms</p>
                    <small>104</small>
                    </div>
                </div>
               </div>
             </div>
             <div class="floorArea">
                <div class="title">Floor status</div>
                <div class="fdown">
                    <div class="graphic">
                       <p class="percentage">80%</p>
                    </div>
                    <div class="textdata">
                        <div class="floorow">
                            <i class=" dot fa-solid fa-circle" style="color: #1e5ac2;"></i>
                            <small>completed</small>
                        </div>
                        <div class="floorow">
                            <i class=" dot fa-solid fa-circle" style="color: whitesmoke;"></i>
                            <small>not completed</small>
                        </div>
                    </div>
                </div>
             </div>
            </div>
            <div class="statisticsRow">
                <div class="occupancy">
                  <div class="topS">
                   <h3 class="title">occupancy statistics</h3>
                   <button type="button" class="monthbtn">
                    <i class="fa-solid fa-calendar-days" style="color: #a1a6af;"></i>
                    Month
                   </button>
                  </div>
                  <div class="downS">
                   <div class="barGraph">
                    <div class="percent">
                       <p>100%</p>
                       <p>75%</p>
                       <p>50%</p>
                       <p>25%</p>
                       <p>9%</p>
                    </div>
                    <div class="graphBar">
                        <div class="exactBar exactBar1">
                            <div class="bar"></div>
                            <p class="month">may</p>
                        </div>
                        <div class="exactBar exactBar2">
                            <div class="bar"></div>
                            <p class="month">jun</p>
                        </div>
                        <div class="exactBar exactBar3">
                            <div class="bar"></div>
                            <p class="month">jul</p>
                        </div>
                        <div class="exactBar exactBar4">
                            <div class="bar"></div>
                            <p class="month">aug</p>
                        </div>
                        <div class="exactBar exactBar5">
                            <div class="bar"></div>
                            <p class="month">sep</p>
                        </div>
                        <div class="exactBar exactBar6">
                            <div class="bar"></div>
                            <p class="month">octr</p>
                        </div>
                        <div class="exactBar exactBar7">
                            <div class="bar"></div>
                            <p class="month">nov</p>
                        </div>
                        <div class="exactBar exactBar8">
                            <div class="bar"></div>
                            <p class="month">dec</p>
                        </div>
                       
                      
                       
                    </div>
                   </div>
                  </div>
                </div>
                <div class="feedback">
                  <div class="topf">
                   <div class="title">Customer feedback</div>
                   <i class=" threedot fa-solid fa-ellipsis-vertical" style="color: #ced2da;"></i>
                  </div>
                  <div class="downf">
                         <div class="feedRow">
                            <div class="name">Mark</div>
                            <div class="custcomRoom">
                                <div class="comment">Food could be better</div>
                                <div class="roomNo">A201</div>
                            </div>
                           
                         </div>
                         <div class="feedRow">
                            <div class="name">Mark</div>
                            <div class="custcomRoom">
                                <div class="comment">Food could be better</div>
                                <div class="roomNo">A212</div>
                            </div>
                           
                         </div>
                         
                  </div>
                </div>
            </div>
        </section>
    
        
    
    <nav class="navbar">
        <ul>
            
            <li>
                <i class="fa-regular fa-pen-to-square symbol" style="color: #a8acb3;"></i>
                <a href="">Front desk</a>
            </li>
            <li>
                <i class="fa-solid fa-clipboard-check symbol" style="color: #9ea4ae;"></i>
                <a href="">Guest</a>
            </li>
            <li>
                <i class="fa-regular fa-bookmark symbol" style="color: #a6aab0;"></i>
                <a href="">Rooms</a>
            </li>
            <li>
                <i class="fa-solid fa-tag symbol" style="color: #b3b6bd;"></i>
                <a href="">Deal</a>
            </li>
            <li>
                <i class="fa-solid fa-dollar-sign symbol" style="color: #9a9da2;"></i>
                <a href="">Rate</a>
            </li>
        </ul>

    </nav>
  
   
</body>
</html>