* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    padding: 30px;
    background-color: white;
    font-family: "Poppins";
  }
  .navBar {
    width: 100%; 
    height: 20px;
    background-color: white;
    border-bottom: 1px solid whitesmoke;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 0px 20px;
  }
  .navBar .brandHeading {
    font-size: 25px;
    font-weight: 500;
    color: #152c5b;
    margin-bottom: 15px;
  }
  .navBar .brandHeading span {
    color: #3252df;
  }
  .navBar .nav-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
    margin-left: 8px;
  }
  .nav-list li {
    margin-left: 45px;
    color: #3252df;
    list-style-type: none;
  }
  
  .nav-list li a {
    text-decoration: none;
    color: #152c5b;
  }
  .nav-list li:first-child a {
    color: #3252df;
  }
  .nav-list li:last-child {
    width: 70px;
    height: 30px;
    border-radius: 5px;
    color: white;
    background-color: #3252df;
    text-align: center;
    margin-bottom: 6px;
  }
  .nav-list .logoutButton {
    width: 70px;
    height: 30px;
    border-radius: 5px;
    color: white;
    background-color: #3252df;
    text-align: center;
    margin-bottom: 6px;
  }
  .nav-list li:last-child a {
    color: white;
    font-size: 13px;
    font-weight: 480;
  }
  .ad_area {
    width: 920px;
    height: 300px;
    background-color: whitesmoke;
    margin-left: 150px;
    margin-top: 45px;
    padding: 15px;
    display: flex;
    align-items: center;
  }
  .ad_area .textArea {
    width: 50%;
    height: 100%;
  }
  .textArea .bigText {
    font-size: 30px;
    font-weight: 700;
    color: #152c5b;
  }
  .textArea .smallText {
    color: grey;
    opacity: 0.6;
    font-size: 12px;
    font-weight: 400;
  }
  .textArea .showMoreBtn {
    width: 155px;
    height: 30px;
    margin-top: 30px;
    background-color: #3252df;
    border: 0;
    outline: 0;
    border-radius: 5px;
    color: white;
  }
  .imgArea {
    width: 50%;
    height: 100%;
  }
  .imgArea .border {
    width: 300px;
    height: 200px;
    outline: 0.5px solid grey;
    opacity: 0.3;
    border: 0;
    border-radius: 8px;
    margin-top: 15px;
  }
  .marketTags {
    width: 500px;
    height: 100px;
    margin-left: 180px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .tag {
    width: 50px;
  }
  .tag_text {
    display: flex;
  }
  .tag_text h4 {
    margin-right: 8px;
  }
  .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  }
  
  .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  }
  
  .material-symbols-outlines {
    width: 100px;
    color: grey;
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  }
  .fa-solid {
    width: 200px;
    height: 20px;
    color: grey;
  }
  .searchArea {
    width: 80%;
    height: 200px;
    border: none;
    outline: none;
    margin-left: 100px;
  }
  .option {
    margin: 20px 20px 20px 40px;
  }
  .option h2 a {
    text-decoration: none;
    color: #d2d2d2;
    font-family: "Inter";
    font-size: 20px;
    font-weight: 500;
  }
  .option h2 a:hover {
    color: blue;
  }
  .dateBar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 850px;
    height: 100px;
    border: none;
    outline: 0;
    margin-left: 70px;
    border-radius: 19px;
    background-color: #eaf1ff;
  }
  .dateBar .checkAvailablebtn {
    width: 130px;
    height: 40px;
    color: black;
    background-color: white;
    outline: 0;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
  }
  .dateBar .personbtn {
    width: 130px;
    height: 40px;
    color: black;
    background-color: white;
    outline: 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
  
    text-align: center;
  }
  .dateBar .selectLocation {
    width: 130px;
    height: 40px;
    color: black;
    background-color: white;
    outline: 0;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
  }
  .searchBtnDate {
    width: 130px;
    height: 30px;
    color: black;
    background-color: white;
    outline: 0;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
  }
  .checkAvailablebtn i {
    margin: 5px;
  }
  .personbtn i {
    margin: 3px;
  }
  .selectLocation {
    margin: 3px;
  }
  .searchBtnDate {
    margin: 3px;
  }
  i {
    width: 10px;
  }
  .searchBar {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: space-around;
    width: 850px;
    height: 100px;
    border: none;
    outline: 0;
    margin-left: 70px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .searchBar input {
    width: 500px;
    height: 40px;
    padding: 9px;
  }
  .searchBar .searchBtnText {
    width: 132px;
    height: 38px;
    color: white;
    background-color: #3252df;
  }
  
  .showCase_container {
    width: 920px;
    height: 300px;
    background-color: whitesmoke;
    margin-left: 150px;
    margin-top: 80px;
    padding: 15px;
  }
  .mostPicked {
    width: 900px;
    height: 300px;
    border: none;
    outline: 0;
    margin-left: 25px;
  }
  .picArea {
    display: flex;
  }
  
  
  
  
  .footerArea {
    width: 100%;
    height: 150px;
    border: none;
    outline: none;
    display: flex;
  
    justify-content: space-between;
    padding: 20px;
  }
  .footerArea .left {
    width: 50%;
  }
  .footerArea .right {
    width: 50%;
    margin-left: 300px;
  }
  .brandname {
    font-size: 20px;
    font-weight: 600;
    font-family: "Poppins";
    color: #152c5b;
  }
  .brandname span {
    color: #3252df;
  }
  .left p {
    color: #b0b0b0;
    opacity: 0.8;
    font-family: "Poppins";
    font-size: 15px;
    font-weight: 500;
    margin-top: 8px;
  }
  .right h3 {
    font-size: 20px;
    font-weight: 600;
  }
  .right .registerBtn {
    margin-top: 10px;
    width: 180px;
    height: 30px;
    background-color: #3252df;
    color: white;
    border: 0;
    outline: 0;
    border-radius: 8px;
  }
  .mini-footer {
    width: 100%;
    height: 20px;
    color: white;
    background-color: #3252df;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
  }
  .mini-footer p {
    font-size: 14px;
  }
  
  /* width: 200px;
  height: 220px; */
 
  
  .hotel-container{                                           
   height: 100vh;
   width: 70vw;
   background-color: grey;
   margin-left: 14%;
   margin-top: 20px;
   display: grid;
   grid-template-columns: repeat(3,1fr);
   gap: 23px;
   padding: 15px;
 

    
  }

.hotel{
  width: 100%;
  border-radius: 6px;
  border: solid 1px black;
}
.hotel-1{
  width: 100%;
  grid-row: span 2;
  border-radius: 6px;
  border:solid 1px black;
  background-size: cover;
  position: relative;
}
.hotel{
  width: 100%;
  border-radius: 6px;
  border: solid 1px black;
  background-size: cover;
  position: relative;
}
  
  
    
  
  
  
  .searchbar{
    width:46% ;
    height: 40px;
    background-color: #fff;
    margin-left: 28%;
    position: relative;
  }
  .searchInput{
    width: 85%;
    height: 29px;
    background-color: #D9D9D9;
  }
  .searchbtn{
    width: 13%;
    height: 28px;
    background-color: #3252df;
    font-family: "Poppins",serif;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    border: none;
    position: absolute;
    right: 20px;
    top: 0.5px;
    border-radius: 6px;
  }
  .container-heading{
    width: 40%;
    height: 30px;
    margin-left: 15%;
    font-size: 18px;
    font-weight: 400;

  }
  .pagination{
    text-align: center;
    margin-top: 10px;
    padding: 8px 10px;
    
  }
  .pagination a{
    display: inline-block;
    text-decoration: none;
    width: 35px;
    height: 30px;
    color: black;
    border: 1px solid black;
    border-radius: 6px;
    
  }
  .pagination a.active{
    background-color: #3252df;
    color: #fff;
    
  }
  .pagination a:hover:not(.active){
    background-color: grey;
  }
  .inactive{
    background-color: grey;
  }
  .not-found-text{
   text-align: center;
  }
  .image{
   width: 100%;
   height: 100%;
   background-size: contain;
  }
  .offerTag {
   position: absolute;
   width: 100px;
   height: 18px;
   left: 155px;
   top: 10px;
   background-color: #152c5b;
   text-align: center;
   border-radius: 6px;
   color: #fff;
   font-size: 10px;
   font-weight: 500;


   
   
  }
  .hotelName{
    width: 200px;
    height: 20px;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px;
   

  }
.title{
  
  position: absolute;
  bottom: 7px;
  left: 10px;

}
.place{
  font-size: 10px;
}